In [2]:
import pandas as pd

In [4]:
fruits=pd.DataFrame({'Apple':[30], 'Banana':[3]} )
fruits

   Apple  Banana
0     30       3

In [5]:
fruit_sales=pd.DataFrame({'Apples': [35,41], 'Bananas':[21,34]},
index=['2017 Sales', '2018 Sales'])

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [7]:
ingredients= pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs','Spam'], name='Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [ ]:
reviews=pd.read_csv("./input/wine-reviews/winemag-data_first150k.csv")

reviews

In [9]:
animals=pd.DataFrame({'Cows':[20,45], "Goats":[45,36]}, index=['Year 1', 'Year 2'])

animals

        Cows  Goats
Year 1    20     45
Year 2    45     36